<kendo-mobile-view
        id="view-searches-search"
        k-layout="'layout-main'"
        ng-controller="SearchRequestSearchCtrl"
        k-on-show="data.onShow(kendoEvent)"
        k-use-native-scrolling="config.views.useNativeScrolling"
        ng-cloak>

    <kendo-mobile-header>
        <kendo-mobile-nav-bar>
            <kendo-mobile-view-title ng-click="showInfoPopup('view-searches-search')"><translate>Was suchen andere</translate></kendo-mobile-view-title>
            <kendo-mobile-button class="platform-ios" data-align="right" k-on-click="showInfoPopup('view-searches-search')"><span ng-class="{'blink': isOneShowInfoPopup('view-searches-search')}" class="icon-info-ios"></span></kendo-mobile-button>
        </kendo-mobile-nav-bar>
    </kendo-mobile-header>

    <div class="info-icon-box">
        <span ng-click="showInfoPopup('view-searches-search')" ng-class="{'blink': isOneShowInfoPopup('view-searches-search')}" class="platform-android icon-info-android"></span>
    </div>

    <div class="android-title">
        <h1 ng-click="showInfoPopup('view-searches-search')"><translate>Was suchen andere</translate></h1>
    </div>

    <div class="btn-box">
        <kendo-mobile-button href="view-searches-filter.html?type=requestSearch"><translate>Filtern</translate></kendo-mobile-button>
        <kendo-mobile-button k-on-click="data.cleanFilter()"><translate>Filter zurücksetzen</translate></kendo-mobile-button>
    </div>

    <kendo-mobile-list-view class="filter-data-list">
        <li ng-repeat="interest in data.log.filterData">
            <label ng-if="$index == 0"><translate>Interessenkategorie</translate>:<span>{{interest}}</span></label>
            <label ng-if="$index == 1"><translate>Unterkategorie</translate>:<span>{{interest}}</span></label>
            <label ng-if="$index == 2"><translate>Themenfilter</translate>:<span>{{interest}}</span></label>
        </li>

        <li ng-repeat="itemParamValue in data.log.paramValue">
            <label>{{itemParamValue.param}}:<span>{{itemParamValue.value}}</span></label>
        </li>

        <li ng-if="data.log.filter.sort">
            <label><translate>Sortieren nach</translate>:
                <span ng-if="data.log.filter.sort == 'create_dt'"><translate>Datum</translate></span>
                <span ng-if="data.log.filter.sort == 'relevancy'"><translate>Relevance</translate></span>
                <span ng-if="data.log.filter.sort == 'bonus'"><translate>Vermittlungsbonus</translate></span>
                <span ng-if="data.log.filter.sort == 'rating'"><translate>Rating</translate></span>
            </label>
        </li>
		<!--nviimedia-->
		<li ng-if="data.log.filter.country">
            <label><translate>Filtern nach Land</translate>:	
					<span ng-repeat="country in data.log.filter.country">
					{{country.name}}&nbsp;
					</span> 	
            </label>
        </li>
		<!--nviimedia-->
    </kendo-mobile-list-view>

    <div ng-if="data.log.loading && !data.log.hasMore" class="km-loader km-widget select-loader" data-role="loader" style="">
        <span class="km-loading km-spin"></span>
        <span class="km-loading-left"></span>
        <span class="km-loading-right"></span>
        <h1><translate>Loading</translate>...</h1>
    </div>

    <div ng-if="data.log.items.length == 0 && !data.log.loading" class="results-empty-text">
        <translate>Leider gibt es momentan keine Suchaufträge anderer Mitglieder, die Deinen angegebenen Interessen oder Deinem Filter entsprechen.</translate>
    </div>

    <kendo-mobile-list-view class="found-interests-list">
        <li ng-repeat="item in data.log.items">
            <div class="found-offer">
                <div class="box-found-picture">
                    <a class="box-found-link" href="" ng-click="navigate('view-searches-details.html?id='+item.id)">
                        <div class="found-img">
                            <img ng-src="{{::item.image}}" />
                        </div>
                    </a>
                    <div class="found-relevance"><translate>Relevanz</translate><span class="relevance-percent">{{::item.relevancy}}%</span></div>
                    <div ng-if="!item.favorite" ng-click="data.addFavorite(item.id)" ng-class="{'favorite-false': !item.favorite}" class="found-favorite favorite"><translate>Merken</translate></div>
                    <div ng-if="item.favorite" ng-class="{'favorite-true': item.favorite}" class="found-favorite favorite"><translate>Gemerkt</translate></div>
                </div>
                <a class="box-found-link" href="" ng-click="navigate('view-searches-details.html?id='+item.id)">
                    <div class="box-found-info">
                        <div class="found-info-type"><translate>Ich suche:</translate></div>
                        <div class="found-title">{{::item.title}}</div>



                        <div ng-if="item.price_to" class="found-price"><translate>Preisvorstellung</translate>: <span>{{::item.price_from|priceFormat}} - {{::item.price_to|priceFormat}} &euro;</span></div>
                        <div ng-if="!item.price_to" class="found-price"><translate>Preisvorstellung</translate>: <span>{{::item.price_from|priceFormat}} &euro;</span></div>

                        <div once-if="item.bonus" class="found-param"><translate>Für die Vermittlung eines passenden Angebots zahle ich:</translate> <span class="found-value">{{::item.bonus|priceFormat}} <span class="icon-jugl"></span></span></div>

                        <div class="found-category clearfix">
                            <span>{{::item.level1Interest}}</span>
                            <span ng-if="item.level2Interest">{{::item.level2Interest}}</span>
                            <span ng-if="item.level3Interests">{{::item.level3Interests}}</span>
                        </div>

                        <div class="found-date">{{::item.create_dt|date:"dd.MM.yyyy"}}</div>

                        <div class="offer-user-box clearfix">
                            <a href="" ng-click="navigate('view-user-profile.html?id='+item.user.id)">
                                <div class="offer-user-avatar">
                                    <img ng-src="{{item.user.avatarMobile}}" alt=""/>
                                </div>
                            </a>
                            <div class="offer-user-name">{{::item.user|userName}}<div ng-click="updateCountry(item.user.id, data.log.items);" id="{{::item.user.flag}}" class="flag flag-32 flag-{{item.user.flag}}"></div></div>
                            <div class="offer-user-rating">
                                <div class="star-rating">
                                    <span once-style="{width:(+item.user.rating)+'%'}"></span>
                                </div>
                                <div class="user-feedback-count">({{::item.user.feedback_count}})</div>
                                <div ng-if="item.user.packet=='VIP'" class="user-packet">&nbsp;</div>
                                <div ng-if="item.user.packet=='VIP_PLUS'" class="user-packet-vip-plus">&nbsp;</div>
                            </div>
                        </div>

                        <ul class="found-item-statistic">
                            <li class="clearfix">
                                <div class="title"><translate>Angebote</translate></div>
                                <div class="value">
                                    {{::item.count_total|default:0}}
                                    <a ng-if="item.count_total>0" ng-click="navigate('view-searches-offers-list.html?id='+item.id)"  class="icon-eye"></a>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="title"><translate>Abgelehnt</translate></div>
                                <div class="value">
                                    {{::item.count_rejected|default:0}}
                                    <a ng-if="item.count_rejected>0" ng-click="navigate('view-searches-offers-list.html?id='+item.id)"  class="icon-eye"></a>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="title"><translate>Angenommen</translate></div>
                                <div class="value">
                                    {{::item.count_accepted|default:0}}
                                    <a ng-if="item.count_accepted>0" ng-click="navigate('view-searches-offers-list.html?id='+item.id)"  class="icon-eye"></a>
                                </div>
                            </li>
                        </ul>

                    </div>
                </a>
            </div>
        </li>
    </kendo-mobile-list-view>

    <div class="load-btn-box" ng-show="data.log.hasMore">
        <kendo-mobile-button k-on-click="data.log.loadMore()">
            <span ng-if="!data.log.loading"><translate>Load More</translate></span>
            <span ng-if="data.log.loading" class="km-loader km-widget select-loader" data-role="loader" style="">
                <span class="km-loading km-spin"></span>
                <span class="km-loading-left"></span>
                <span class="km-loading-right"></span>
                <h1><translate>Loading</translate>...</h1>
                <span class="btn-text-android"><translate>Loading</translate></span>
            </span>
        </kendo-mobile-button>
    </div>

</kendo-mobile-view>
