<kendo-mobile-view
        id="view-searches-my-list"
        k-layout="'layout-main'"
        ng-controller="SearchRequestMyListCtrl"
        k-on-show="data.onShow(kendoEvent)"
        k-use-native-scrolling="config.views.useNativeScrolling"
        ng-cloak>

    <kendo-mobile-header>
        <kendo-mobile-nav-bar>
            <kendo-mobile-view-title><div ng-click="showInfoPopup('view-searches-my')" class="view-title-ios"><translate>Auftrag annehmen</translate></div></kendo-mobile-view-title>
            <kendo-mobile-back-button k-on-click="onClickBack()" data-align="left"><span class="platform-android"><translate>Zurück</translate></span></kendo-mobile-back-button>
            <kendo-mobile-button class="platform-ios" data-align="right" k-on-click="showInfoPopup('view-searches-my')"><span ng-class="{'blink': isOneShowInfoPopup('view-searches-my')}" class="icon-info-ios"></span></kendo-mobile-button>
        </kendo-mobile-nav-bar>
    </kendo-mobile-header>

    <div class="info-icon-box">
        <span ng-click="showInfoPopup('view-searches-my')" ng-class="{'blink': isOneShowInfoPopup('view-searches-my')}" class="platform-android icon-info-android"></span>
    </div>

    <div class="android-title">
        <h1 ng-click="showInfoPopup('view-searches-my')"><translate>Auftrag annehmen</translate></h1>
    </div>

    <div ng-if="data.log.loading && !data.log.hasMore" class="km-loader km-widget select-loader" data-role="loader" style="">
        <span class="km-loading km-spin"></span>
        <span class="km-loading-left"></span>
        <span class="km-loading-right"></span>
        <h1><translate>Loading</translate>...</h1>
    </div>

    <div ng-if="data.log.items.length == 0 && !data.log.loading" class="results-empty-text">
        <translate>Leider hast Du noch keine Suchaufträge erstellt, Du kannst dies mit der "Menschlichen Suchmaschine" tun (Suchauftrag erstellen).</translate>
    </div>

    <kendo-mobile-list-view ng-if="data.log.items.length > 0" class="found-interests-list">
        <li ng-repeat="item in data.log.items">
                <div ng-if="item.status=='SCHEDULED'" class="label-status-scheduled"><translate>Wartet auf Veröffentlichung</translate></div>
                <div class="found-offer">
                    <div class="box-found-picture">
                        <a class="box-found-link" href="" ng-click="navigate('view-searches-details.html?id='+item.id)">
                            <div class="found-img">
                                <img ng-src="{{::item.image}}" />
                            </div>
                        </a>
                        <div class="found-relevance"><translate>Angebote</translate><span class="relevance-percent">{{::item.searchRequestOffers.length}}</span></div>
                    </div>

                    <div class="box-found-info">
                        <a class="box-found-link" href="" ng-click="navigate('view-searches-details.html?id='+item.id)">
                            <div class="found-title">{{::item.title}}</div>
                        </a>
                        <div ng-if="item.price_to" class="found-price">{{::item.price_from|priceFormat}} - {{::item.price_to|priceFormat}} &euro;</div>
                        <div ng-if="!item.price_to" class="found-price">{{::item.price_from|priceFormat}} &euro;</div>
                        <div once-if="item.bonus" class="found-jugl">{{::item.bonus|priceFormat}} <span class="icon-jugl"></span></div>
                        <div once-if="!item.bonus" class="found-jugl">&nbsp;</div>
                        <div class="found-category clearfix">
                            <span>{{::item.level1Interest}}</span>
                            <span ng-if="item.level2Interest">{{::item.level2Interest}}</span>
                            <span ng-if="item.level3Interests">{{::item.level3Interests}}</span>
                        </div>
                        <div class="found-date">{{::item.create_dt|date:"dd.MM.yyyy"}}</div>
                        <a href="" class="offer-close" ng-click="data.close(item.id)"><translate>Abschalten</translate></a>
                    </div>

                    <div class="btn-del-offer" ng-click="data.delete(item.id)"></div>

                </div>

                <ul ng-if="item.searchRequestOffers.length > 0" class="found-offer-users-list">
                    <li ng-repeat="offer in item.searchRequestOffers">
                        <div class="offer-user-box clearfix">
                            <a href="" ng-click="navigate('view-user-profile.html?id='+offer.user.id)">
                                <div class="offer-user-avatar"><img ng-src="{{::offer.user.avatarMobile}}" alt=""/></div>
                            </a>
                            <div class="offer-user-name">{{::offer.user|userName}}</div>
                            <div class="offer-user-rating">
                                <div class="star-rating">
                                    <span once-style="{width:(+offer.user.rating)+'%'}"></span>
                                </div>
                                <div class="user-feedback-count">({{::offer.user.feedback_count}})</div>
                                <div ng-if="offer.user.packet=='VIP'" class="user-packet">&nbsp;</div>
                                <div ng-if="offer.user.packet=='VIP_PLUS'" class="user-packet-vip-plus">&nbsp;</div>
                            </div>
                        </div>
                        <div class="offer-user-relevance">{{::offer.relevancy}}%</div>
                        <div class="offer-comments">
                            <p once-if="offer.description">{{::offer.description}}</p>
                            <p once-if="!offer.description" class="no-comments"><translate>Kein Kommentar</translate></p>
                        </div>

                        <div ng-if="offer.price_to" class="found-price">{{::offer.price_from|priceFormat}} - {{::offer.price_to|priceFormat}} &euro;</div>
                        <div ng-if="!offer.price_to" class="found-price">{{::offer.price_from|priceFormat}} &euro;</div>

                        <div class="offer-box-status-and-link clearfix">
                            <a href="" ng-click="navigate('view-searches-offer-details.html?id='+offer.id)" class="completing-rate-link"><translate>Details anzeigen</translate></a>

                            <div class="offer-request-status rejected" ng-if="offer.status=='REJECTED'"><translate>ABGELEHNT</translate></div>
                            <div class="offer-request-status contacted" ng-if="offer.status=='CONTACTED'"><translate>NACHRICHT GESENDET</translate></div>
                            <div class="offer-request-status contacted" ng-if="offer.status=='ACCEPTED'"><translate>ANGENOMMEN</translate></div>
                        </div>

                    </li>
                </ul>

        </li>
    </kendo-mobile-list-view>

    <div class="load-btn-box" ng-show="data.log.hasMore">
        <kendo-mobile-button k-on-click="data.log.loadMore()">
            <span ng-if="!data.log.loading"><translate>Load More</translate></span>
            <span ng-if="data.log.loading" class="km-loader km-widget select-loader" data-role="loader" style="">
                <span class="km-loading km-spin"></span>
                <span class="km-loading-left"></span>
                <span class="km-loading-right"></span>
                <h1><translate>Loading</translate>...</h1>
                <span class="btn-text-android"><translate>Loading</translate></span>
            </span>
        </kendo-mobile-button>
    </div>

</kendo-mobile-view>
