<kendo-mobile-modal-view
        k-on-open="data.onOpen(kendoEvent)"
        ng-controller="UserFeedbackUpdateCtrl as userFeedbackUpdateCtrl"
        id="deals-completed-update-user-feedback-popup"
        class="modal" style="width: 90%;" modal
        ng-cloak>

    <div class="evaluation-box">
        <label><translate>Bewerten:</translate></label>
        <div class="evaluation">
            <input type="radio" name="evaluation" value="20" ng-model="data.feedback.rating" class="ng-pristine ng-untouched ng-valid"><i></i>
            <input type="radio" name="evaluation" value="40" ng-model="data.feedback.rating" class="ng-pristine ng-untouched ng-valid"><i></i>
            <input type="radio" name="evaluation" value="60" ng-model="data.feedback.rating" class="ng-pristine ng-untouched ng-valid"><i></i>
            <input type="radio" name="evaluation" value="80" ng-model="data.feedback.rating" class="ng-pristine ng-untouched ng-valid"><i></i>
            <input type="radio" name="evaluation" value="100" ng-model="data.feedback.rating" class="ng-pristine ng-untouched ng-valid"><i></i>
        </div></div>

    <div class="feedback-box">
        <label><translate>Ihr Feedback:</translate></label>
        <textarea name="feedback" rows="6" ng-model="data.feedback.feedback"></textarea>
    </div>

    <div class="btn-box">
        <kendo-mobile-button k-on-click="data.save()"><translate>Bewerten</translate></kendo-mobile-button>
        <kendo-mobile-button class="closeModalBtn"><translate>Cancel</translate></kendo-mobile-button>
    </div>
</kendo-mobile-modal-view>