<kendo-mobile-view
        id="view-photoswipe"
        k-layout="'layout-main'"
        k-on-show="data.onShow(kendoEvent)"
        ng-controller="PhotoSwipeCtrl"
        k-use-native-scrolling="config.views.useNativeScrolling || true"
        ng-cloak>

    <div class="photoswipe-buttons-top-box">
        <button class="photoswipe-back km-button" ng-click="data.back()"></button>
        <button ng-if="data.canShare" class="photoswipe-sharing" ng-click="data.sharing()"><span class="icon-sharing"></span></button>
    </div>

    <div photo-swipes current-item="data.currentItem" ng-if="data.showGallery" id="photoswipe-box" slides="data.slides" options="data.opts">
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="pswp__bg"></div>
            <div class="pswp__scroll-wrap">
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>
                <div class="pswp__ui">
                    <div class="pswp__top-bar">
                        <div class="pswp__counter"></div>
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</kendo-mobile-view>
